<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shophia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href="assets/img/favicon.gif" type="image/gif">

	<link rel="stylesheet" href="assets/libs/normalize-css/normalize.css">
	<link rel="stylesheet" type="text/css" href="assets/libs/slick-carousel/slick.css"/>
	<link rel="stylesheet" type="text/css" href="assets/libs/slick-carousel/slick-theme.css"/>
	<link rel="stylesheet" href="assets/css/style.css">

	<script defer src="assets/libs/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/libs/slick-carousel/slick.js"></script>
</head>
<body>