$logo_width: 300px;
$menu-font-size: 1.2rem;
$menu-height: 2 * $menu-font-size;
$social-height: 2 * $menu-font-size;
$currency-height: 35px;

header {
  display: block;
  margin: 0 auto;
  max-width: $wrap-wide-width;
  position: fixed;
  //position: relative;
  top: $top-line-height;
  left: 0px;
  right: 0px;
  //width: 100%;
  z-index: 700;
  background: $color-white;
  transform: translateY(0);
  opacity: 1;
  border-bottom: 0px solid rgba(0, 0, 0, 0);
  transition: top $menu_anim_time;
}

header.hidden {
  top: 0px;
  opacity: 0.85;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: top $menu_anim_time  0s;
}

// ************** Hidden for small screen
header.hidden-small {

  @media screen and (max-width: $screen-width1) {
    top: 0px;
    opacity: 0.85;
    transition: top $menu_anim_time (1 * $menu_anim_time);
  }
}


.header__wrap {
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: $wrap-width;
  //background: $color-gray3;
  margin: 0 auto;
  min-height: 3 * $social-height;
  transition: min-height $menu_anim_time 0s;

  @media screen and (max-width: $screen-width1) {
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 4.3 * $social-height;
  }
}

header.hidden .header__wrap {
  min-height: 10px;
  transition:  min-height $menu_anim_time  0s;

  @media screen and (max-width: $screen-width1) {
    align-items: flex-start;
    transition: min-height $menu_anim_time (1 * $menu_anim_time);
  }
}

// ************** Hidden for small screen
header.hidden-small .header__wrap {

  @media screen and (max-width: $screen-width1) {
    align-items: flex-start;
    min-height: 10px;
    //min-height: 4.3 * $social-height;
    transition: min-height $menu_anim_time (1 * $menu_anim_time);
  }
}




.header__logo {
  position: absolute;
  z-index: 300;
  top: 0.75 * $social-height;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  font-family: 'KrinkesDecorPERSONAL', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 4rem;
  //width: $logo_width;
  text-shadow: 0 0 5px $color-white, 0 0 10px $color-white;
  transition: all $menu_anim_time 0s;

  @media screen and (max-width: $screen-width1) {
    top: calc(0.5 * #{$social-height} + 25px);
    font-size: 8vw;
  }
  @media screen and (max-width: $screen-width3) {
    top: calc(1 * #{$social-height} + 15px);
    font-size: 11vw;
  }
}

header.hidden .header__logo {
  top: 2%;
  left: 50%;
  margin-top: 5px;
  margin-bottom: 7px;
  transition: all $menu_anim_time  0s;

  @media screen and (max-width: $screen-width1) {
    font-size: 6vw;
    //transition: all $menu_anim_time (1 * $menu_anim_time);
  }
  @media screen and (max-width: $screen-width3) {
    font-size: 9vw;
    //transition: all $menu_anim_time (1 * $menu_anim_time);
  }
}

// **************  Hidden for small screen
header.hidden-small .header__logo {

  @media screen and (max-width: $screen-width1) {
    top: 2%;
    left: 50%;
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 6vw;
    transition: all $menu_anim_time (1 * $menu_anim_time);
  }
  @media screen and (max-width: $screen-width3) {
    top: 2%;
    font-size: 9vw;
    transition: all $menu_anim_time (1 * $menu_anim_time);
  }
}


.header__logo-text{
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-weight: lighter;
}




.header__nav-block,
.header__right {
  padding: 0px 5px;
  width: calc((100% - #{$logo_width}) / 2);
}

.header__nav-block {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (max-width: $screen-width1) {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.header__nav {
  position: relative;
  justify-content: flex-start;

  @media screen and (max-width: $screen-width1) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
  @media screen and (max-width: $screen-width3) {
    margin-left: 0px;
  }
}

.header__nav-item {
  position: relative;
  margin: 10px 15px 8px 5px;
  @include menu-text-anim(0.2s, $color-black, 1px, -0.2em);

  @media screen and (max-width: $screen-width1) {
    position: absolute;
    left: 0%;
    opacity: 1;

    @include menu_anim(4, $menu-height, $menu_anim_time, $menu_anim_delay)
  }
}

// ************** Hidden for small screen
header.hidden-small .header__nav-item {
  @media screen and (max-width: $screen-width1) {
    position: absolute;
    left: -100px;
    opacity: 0;

    @include menu_anim_revers(4, $menu-height, $menu_anim_time, $menu_anim_delay)
  }
}

//header.hidden .header__nav-item {
//  @media screen and (max-width: $screen-width1) {
//    &:not(:first-child) {
//      left: -250%;
//      opacity: 0;
//    }
//    @include menu_anim_revers(4, $menu-height, $menu_anim_time, $menu_anim_delay)
//  }
//}

.header__nav-link {
  font-family: 'PlayfairDisplayItalic', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $menu-font-size;
  color: $color-black;
  //text-shadow: 0px 0px 0px rgba(0,0,0,0.4);
  //text-align: left;
  //transition: all 3.3s;
  //background: #ff0;
}

.header__right {
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.header__right > * {
  margin: 5px;
}

.header__social {
  position: relative;
  @media screen and (max-width: $screen-width1) {
    flex-direction: column;
    align-items: flex-end;
    order: 2;
  }
}

.header__social-item {
  position: relative;

  @media screen and (max-width: $screen-width1) {
    position: absolute;
    right: 0px;
    opacity: 1;

    @include menu_anim(4, $social-height, $menu_anim_time, $menu_anim_delay)
  }
}

//header.hidden .header__social-item {
//  @media screen and (max-width: $screen-width1) {
//    &:not(:first-child) {
//      right: -250%;
//      opacity: 0;
//    }
//    @include menu_anim_revers(4, $social-height, $menu_anim_time, $menu_anim_delay)
//  }
//}

//*************** Hidden for small screen
header.hidden-small .header__social-item {
  @media screen and (max-width: $screen-width1) {
    right: -100px;
    opacity: 0;

    @include menu_anim_revers(4, $social-height, $menu_anim_time, $menu_anim_delay)
  }
}

.header__social-link {
  border: 3px solid $color-orange1;
  border-radius: 50%;
  padding: 7px;
  margin: 0 7px;
  box-sizing: border-box;
  transition: border 0.3s;
}

.header__social-link:hover {
  border: 3px solid transparent;
}

.header__social-svg {
  fill: $color-orange1;
  width: 20px;
  height: 20px;
  transition: all 0.3s;
}

.header__social-link:hover .header__social-svg {
  fill: $color-red;
  transform: scale(1.4);
}





.header__button,
.header__button-right {
  display: none;
  position: absolute;
  top: 20px;
  transform: translateY(-50%);
  left: 5%;
  padding: 7px;
  background: inherit;

  @media screen and (max-width: $screen-width1) {
    display: inline-block;
    opacity: 0;
    transition: opacity $menu_anim_time  0s;
  }
}
.header__button-right {
  left: auto;
  right: 5%;
}

//header.hidden .header__button,
//header.hidden .header__button-right {
//  @media screen and (max-width: $screen-width1) {
//    opacity: 1;
//    transition: opacity $menu_anim_time (2 * $menu_anim_time);
//  }
//}

// ************** Hidden for small screen
header.hidden-small .header__button,
header.hidden-small .header__button-right {
  @media screen and (max-width: $screen-width1) {
    opacity: 1;
    transition: opacity $menu_anim_time (2 * $menu_anim_time);
  }
}

.header__button-arrow {
  width: 20px;
  height: 20px;
  stroke: $color-black;
  stroke-width: 12;
  stroke-linecap: square;
}






.header__form {
  position: relative;
  z-index: 5000;
  justify-content: flex-end;
  width: 100px;
  //transition: display 0s 0s;
  opacity: 1;
  transition: opacity (1 * $menu_anim_time) (1 * $menu_anim_time);

  @media screen and (max-width: $screen-width1) {
    //padding-right: 10%;
    margin-right: 1.4 * $menu-height;
  }
}

//header.hidden .header__form {
//  @media screen and (max-width: $screen-width3) {
//    //display: none;
//  }
//}

//************** Hidden for small screen
header.hidden-small .header__form {
  @media screen and (max-width: $screen-width1) {
    //display: none;
    transform: translateX(($screen-width3 / 2) + 200px);
    opacity: 0;
  }
}


.header__currency {
  //display: none;
  height: $currency-height;
  background: $color-black;
  color: $color-white;
  font-family: 'LatoBold', sans-serif;
  font-size: 0.8rem;
  padding-right: 0px;
  border: none;
}








/******   STYLES FOR CLONE OF ELEMENT "SELECTOR" (.header__currency)  ***********/

.header__form .clone-select {
  justify-content: space-between;
  position: relative;
  //z-index: 5000;
  width: 150px;
  height: $currency-height;
  cursor: pointer;
  user-select: none;
  font-family: 'LatoBold', sans-serif;
  font-size: 0.8rem;
  color: $color-white;
  background: $color-black;
}

.header__form .clone-selected {
  flex-grow: 2;
  height: 100%;
  background: inherit;
}

.header__form .clone-button {
  position: relative;
  z-index: 5000;
  width: $currency-height;
  height: 100%;
  background: inherit;
}

.header__form .clone-button-img {
  width: 15px;
  height: 15px;
  stroke: $color-white;
  stroke-width: 12;
  stroke-linecap: square;
}

.header__form .clone-ul {
  //z-index: 5000;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  border-top: 1px solid $color-white;
  background: inherit;
  list-style: none;
  overflow: hidden;
  height: 0px;
  transition: height 0.15s;
}

.header__form .clone-ul.menu-show {
  height: 3 * $currency-height;
}

.header__form .clone-option {
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0px 30px 0px 7px;
  width: 100%;
  height: $currency-height;
  transition: background 0.3s;

  &:hover {
    background: $color-gray2;
  }
}


