.slider {
  max-width: $wrap-wide-width;
}

.slider__block{
  position: relative;
  justify-content: center ;
  width: $wrap-wide-width;
  margin: 0 auto;
}

.slider__banner{
  position: absolute;
  z-index: 100;
  top: 0px;
  width: 100%;
  height: 100%;
  flex-direction: column ;
  justify-content: center ;
  @media screen and (max-width: $screen-width2) {
    justify-content: flex-end ;
  }
}
.slider__bann{
  position: relative;
  flex-direction: column ;
  justify-content: space-around ;
  width: 20%;
  height: 40%;
  border: 3px solid $color-white;
  box-sizing: border-box;
  padding: 1.5%;
  font-family: 'LatoBold', sans-serif;
  font-size: 0.9rem;

  @media screen and (max-width: $screen-width2) {
    font-size: 2.3vw;
    height: 50%;
    border: 1px solid $color-white;
  }
}
.slider__bann:before{
  content: '';
  display: block;
  position: absolute;
  flex-direction: column ;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border: 1px solid $color-white;
}
.slider__bann-text{
  color: $color-white;
  font-size: 1.2em;
  @media screen and (max-width: $screen-width2) {
    font-size: 0.9em;
  }
}
.slider__bann-text--big{
  font-size: 3em;
  color: $color-black;
  @media screen and (max-width: $screen-width2) {
    font-size: 1.5em;
  }
}
.slider__bann-text--mid{
  font-size: 1.7em;
  color: $color-black;
  @media screen and (max-width: $screen-width2) {
    font-size: 1.2em;
  }
}



.slider__shop{
  z-index: 100;
  padding: 0.6em 1em;
  background: $color-red;
  color: $color-white;
  font-family: 'LatoBold', sans-serif;
  font-size: 1.1em;
  margin: 2em;
  @include button-shop-anim($butt-degree, $butt-hieght, $butt-color, $butt-time);

  @media screen and (max-width: $screen-width2) {
    font-size: 0.8em;
    margin: 0.5em;
  }
}



.slider__list,
.slider__item,
.slider__img{
  display: block;
  width: 100%;
  height: auto;
}
.slider__item{
  display: none;
}
.slider__item:first-child{
  display: block;
}
