.arrow-down {
  width: 128px;
  height: 128px;
}

.arrow-up {
  width: 128px;
  height: 128px;
}

.facebook {
  width: 56px;
  height: 56px;
}

.instagram {
  width: 56px;
  height: 56px;
}

.mastercard_logo {
  width: 300px;
  height: 180px;
}

.pinterest {
  width: 56px;
  height: 56px;
}

.rss {
  width: 56px;
  height: 56px;
}

.support-aircraft {
  width: 38px;
  height: 38px;
}

.support-time {
  width: 41px;
  height: 56px;
}

.support-wheel {
  width: 64px;
  height: 49px;
}

.telephone {
  width: 512px;
  height: 512px;
}

.twitter {
  width: 56px;
  height: 56px;
}

.visa_logo {
  width: 376px;
  height: 123px;
}

